/* portfolio.css */

.page-container {
  position: relative;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio .project {
  border: 1px solid #ccc;
  padding: 50px;
}

.page-container:hover::before {
  content: ''; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5); /* Change the color to red with opacity */
}

.portfolio .project img {
  max-width: 100%;
}
