/* Footer.css */

.footer {
  background-color: #003580;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: font-size 0.3s; /* Add transition for smooth effect */
}

.footer a:hover {
  font-size: 1.2em; /* Magnify the text */
}
